<% if @trademark.errors.any? %>
<div class="error_msg">
  <ul>
    <% @trademark.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: @trademark, local: true) do |form| %>
  <div class="admin_tmedit">
    <div class="admin_tmshow">
      <div class="heading">
        <div class="titles_user">
          <div class="one">商標名</div>
          <div class="two">商標内容</div>
        </div>
        <div class="contents">
          <div class="one"><%= form.text_field :tm_name %></div>
          <div class="two"><%= form.text_area :description %></div>
        </div>
      </div>
    </div>
    <div class="user_done_edit">
      <%= form.submit "登録", class: :user_done_edit_btn%>
    </div>
  </div>
<% end %>
