<div class="login">
  <div class="login1">
    <div class="title">
      <h3>ユーザーログイン</h3>
    </div>
    <div class="loginform">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <div class="content">
          <%= f.label "メールアドレス", class: :form_label %>
          <%= f.email_field :email, class: :form_text %>
        </div>
        <div class="content">
          <%= f.label "パスワード", class: :form_label %>
          <%= f.password_field :password, class: :form_text %>
        </div>
        <div class="loginbtn">
          <%= f.submit "ログインする", class: :btn %>
        </div>
      <% end %>
    </div>
    <div class="to_new">
      <%= link_to "ユーザーアカウントをお持ちでない方", new_user_path %>
    </div>
  </div>

  <div class="login2">
    <div class="title">
      <h3>管理者ログイン</h3>
    </div>
    <div class="loginform">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <div class="content">
          <%= f.label "メールアドレス", class: :form_label %>
          <%= f.email_field :admin_email, class: :form_text %>
        </div>
        <div class="content">
          <%= f.label "パスワード", class: :form_label %>
          <%= f.password_field :password, class: :form_text %>
        </div>
      <div class="loginbtn loginbtn2">
        <%= f.submit "ログインする", class: :btn %>
      </div>
      <% end %>
    </div>
    <div class="to_new">
      <%= link_to "管理者アカウントをお持ちでない方", new_admin_user_path %>
    </div>
  </div>
</div>
