<div class="tmedit_form">
  <div class="tm_edit_notice">
    <h2>商標ステータス編集ページ</h2>
  </div>

  <div class="states">
    <div class="invest">調査</div>
    <div class="apply">出願</div>
    <div class="judge">審査</div>
    <div class="register">登録</div>
  </div>

  <%= form_with(model: @state, local: true) do |form| %>
    <div class="states_form">
      <div class="contents">
        <div class="invest">
            <label><%= form.check_box :status_investigation %></label>
        </div>

        <div class="apply">
          <% if @state.status_investigation == true %>
            <label><%= form.check_box :status_apply %></label>
          <% end %>
        </div>

        <div class="judge">
          <% if @state.status_investigation == true && @state.status_apply == true %>
            <label><%= form.check_box :status_judge %></label>
          <% end %>
        </div>

        <div class="register">
          <% if @state.status_investigation == true && @state.status_apply == true && @state.status_judge == true %>
            <label><%= form.check_box :status_registration %></label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="done_edit">
      <%= form.submit "ステータスを更新する", class: :done_edit_btn%>
    </div>
  <% end %>
</div>
