<div class="tmnew">
  <div class="tmnew_to_all">
    <%= link_to "▶︎この商標に関する過去の調査依頼を確認する", contacts_path(@trademark.id) %>
  </div>

  <div class="tmnew_form">
    <div class="tm_new_notice">
      <h2>調査依頼お申し込みフォーム</h2>
      <p>*こちらのフォームは大貫薫のメールアドレスに送られるよう設計しております。<br>
        確認されたい場合は、お手数ですがメールアドレス欄にご自身のメールアドレスをご記入ください。転送いたします。</p>
    </div>

    <div class="new_form">
      <%= form_with(model: @contact, local: true) do |form| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <div class="content">
            <a class="form_label">商標登録のご経験がある</a>
            <a class="form_text"><label><%= form.radio_button :experienced, "true" %></label></a>
          </div>

          <div class="content">
            <%= form.label :お名前, class: :form_label %>
            <%= form.text_field :name, placeholder: "例）#{current_user.user_name}", class: :form_text %>
          </div>

          <div class="content">
            <%= form.label :メールアドレス, class: :form_label %>
            <%= form.text_field :email, placeholder: "例）#{current_user.email}", class: :form_text %>
          </div>

          <div class="content">
            <%= form.label :お電話番号, class: :form_label  %>
            <%= form.telephone_field(:phone_number, class: :form_text, placeholder: "例）03-1234-5678")  %>
          </div>

          <div class="content">
            <%= form.label :会社名・屋号, class: :form_label  %>
            <%= form.text_field :company_name, placeholder: "例) ABC株式会社", class: :form_text %>
          </div>

          <div class="content">
            <%= form.label :ホームページ, class: :form_label  %>
            <%= form.text_field :website, placeholder: "例) https://www.abc.jp", class: :form_text %>
          </div>

          <div class="content">
            <%= form.label :商標, class: :form_label %>
            <%= form.text_field :tmname, placeholder: "例）#{@trademark.tm_name}", class: :form_text %>
          </div>

          <div class="content">
            <%= form.label :商品・サービス, class: :form_label %>
            <%= form.text_area :content, placeholder: "商標を使用する商品またはサービスを入力してください。例）パンの販売・パンのイートイン", class: :form_text_area %>
          </div>

          <div class="content">
            <a class="form_label">電話ヒアリングを希望する</a>
            <a class="form_text"><label><%= form.radio_button :preferred_contact, "true" %></label></a>
          </div>

          <div class="content">
            <%= form.label :時間帯の希望, class: :form_label %>
            <%= form.text_field :contact_time, placeholder: "例）平日　午後1時〜2時", class: :form_text %>
          </div>

          <div class="content">
            <a class="form_label">ご依頼の商標を使用している</a>
            <a class="form_text"><label><%= form.radio_button :used, "true" %></label></a>
          </div>

          <div class="content">
            <a class="form_label">申込規約を確認しました</a>
            <a class="form_text"><label><%= form.radio_button :agreed_regulation, "true" %></label></a>
          </div>


          <div class="send_tm">
            <%= form.submit "送信する", title: "送信の確認", class: :send_tm_invest, data: {confirm: 'この内容で調査依頼を送りますか？', cancel: "やめる", commit: "送る"} %>
          </div>
        <% end %>
      </div>
    </div>
</div>
