<h1>管理者アカウント登録画面</h1>
<% if @admin_user.errors.any? %>
  <div class="error_msg">
    <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @admin_user, local: true) do |form| %>
  <div class="admin_name">
    <%= form.label "お名前" %>
    <%= form.text_field :admin_name %>
  </div>

  <div class="admin_user_email">
    <%= form.label "メールアドレス" %>
    <%= form.email_field :admin_email %>
  </div>

  <div class="admin_user_pw">
    <%= form.label "パスワード（６文字以上）" %>
    <%= form.password_field :password %>
  </div>

  <div class="admin_user_pwconfirm">
    <%= form.label "パスワード確認" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit "管理者アカウント作成"%>
<% end %>
