<!DOCTYPE html>
<html>
  <head>
    <title>TmRegistration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <div class="header">
      <% if logged_in? %>
        <% if session[:admin_user_id] == nil %>
          <div class="user_header">
            <%= link_to "一覧画面", trademarks_path, class: :header_user_btn %>
          </div>

          <div class="login_header">
            <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: :header_login_btn %>
          </div>
        <% elsif session[:user_id] == nil %>
          <div class="admin_header">
            <%= link_to "管理者画面", admin_user_path(current_user.id), class: :header_admin_btn %>
          </div>
          
          <div class="login_header">
            <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: :header_login_btn %>
          </div>
        <% end %>
      <% else %>
        <% unless current_page?(new_session_path) %>
        <div class="login_header">
          <%= link_to "ログイン", new_session_path, class: :header_login_btn %>
        </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
